<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Hedera Transaction Tool
  ~
  ~ Copyright (C) 2018 - 2021 Hedera Hashgraph, LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration name="tools-cli">
	<Properties>
		<Property name="user">${sys:user.home}</Property>
		<Property name="file.log.path">logs</Property>
		<Property name="file.log.name">${sys:toolsCliLogFileName:-app}</Property>
		<Property name="log.level">INFO</Property>
		<Property name="log.pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%5pid] [%t] %-5p %l{36} - %m%n</Property>
		<Property name="log.pattern.simple">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p - %m%throwable{short.message}%n</Property>
		<Property name="log.pattern.console">%d{yyyy-MM-dd HH:mm:ss nnnnnnnnn} %-5p - %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${log.pattern.console}"/>
		</Console>
		<RollingFile name="app.log" fileName="${file.log.path}/${file.log.name}.debug.log"
					 filePattern="${file.log.path}/${file.log.name}.debug.log.%i"
					 immediateFlush="true" append="true">
			<PatternLayout pattern="${log.pattern}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
		<RollingFile name="app.simple.log" fileName="${file.log.path}/${file.log.name}.simple.log"
					 filePattern="${file.log.path}/${file.log.name}.simple.log.%i"
					 immediateFlush="true" append="true">
			<PatternLayout pattern="${log.pattern.simple}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console" level="INFO"/>
			<AppenderRef ref="app.log" level="INFO"/>
			<AppenderRef ref="app.simple.log" level="INFO"/>
		</Root>
	</Loggers>
</Configuration>
